# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Production build
dist/
build/

# Cache files
*.cache

# npm or Yarn debug files
npm-debug.log*
yarn-debug.log*

# Temporary files
tmp/
temp/

# VSCode settings
.vscode/
